mat-card {
    background-color: rgb(208, 217, 224);
    width: 35%;
    height: 30%;
    text-align-last: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-style: solid;
    font-size: 1.5em;
    border-radius: 10%;
}